.main-section{
    display: flex;
    flex-direction: column;

}
.main-section__background{
    background-image: url("../background/background.png");
    height: 895px;
    }
.about{
    display: flex;
    flex-direction: column;
    margin-left: 347px;
    margin-top: 177px;
}
.about__header{
    display: flex;
    border-top: 8px solid #c93555;
    width: 121px;
    padding-top: 12px;
    font-family: 'InterTight-Medium';
}
.about_header--red{
    color: #c93555;
    padding-bottom: 44px;
    font-size: 23px;
}
.about__title{
    width: 100px;
    padding-bottom: 43px;
    font-family: 'Open Sans', sans-serif;
}
.about__title--white{
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top: 4px;
}
.about__subtitle{
    padding-bottom: 77px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 3px;
}

.about__subtitle--white{
    color: white;
    font-size: 24px;
}

.main-section__properties{
    padding-top: 54px;
    margin-left: 347px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.main-section__propirties-items{
    display: flex;
    flex-direction: column;
    padding-right: 90px;
}
.main-section__properties-title{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.main-section__properties-subtitle{
    font-size: 23px;
}
.main-section__propirties-items--white{
  color: white;
}
.section-img{
    padding-left: 387px;
    padding-top: 13px;
    padding-bottom: 110px;
}
.section{
    display: flex;
    padding-top: 85px;
    padding-bottom: 54px;
}
.section--adjacent{
    padding-top: 15px;
    /* margin-top: 3px; */
    height: 342px;
}
.section--light{
    background-color: #130b5b
}
.section__content{
    padding-top: 3px;
    padding-left: 85px;
    width: 870px;
}
.section__content--small{
    padding-left: 345px;
    width: 650px;
    /* padding-top: -37px; */
}
.section__content--big{
    padding-left: 343px;
    width: 1333px;
    /* padding-top: -25px; */
    margin-top: -21px;
}

.content{
    display: flex;
    flex-direction: column;
}
.content__title{
    display: flex;
    border-left: 8px solid #c93555;
    padding-left: 10px;
    padding-bottom: 27px;
    font-family: 'InterTight-Bold';
}
.content__title--white{
    color: white;
}
.content__title--big{
    font-size: 32px;
}
.content__article{
    padding-left: 17px;
    padding-top: 32px;
    padding-bottom: 4px;
    font-family: 'InterTight-ExtraLight';
}
.content__article--big{font-size: 30px;}
.content__article--white{
    color: white;
}
.content__article--small{
    font-size: 34px;
    padding-top: 12px;
}